# Exemplo dos nomes usados pelo ./gasclaw. Os valores reais ficam em gasclaw.env (ignorado pelo git)
# e sao preenchidos automaticamente pelo ./gasclaw up.

ACCOUNT=
APPS_SCRIPT_API_OK=
CHAT_OK_DEV=
CHAT_OK_PROD=
CHAT_SA_EMAIL_DEV=
CONSENT_OK_DEV=
CONSENT_OK_PROD=
DEPLOY_ID_DEV=
DEPLOY_ID_PROD=
DOMAIN=
GCP_LINKED_DEV=
GCP_LINKED_PROD=
GCP_NUMBER_DEV=
GCP_NUMBER_PROD=
GCP_PROJECT_DEV=
GCP_PROJECT_PROD=
SCRIPT_ID_DEV=
SCRIPT_ID_PROD=
WEBAPP_AUTH_DEV=
WEBAPP_AUTH_PROD=
